extends ./layout.jade
block cabecera
	nav(class="navbar navbar-default navbar-fixed-top")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand" href="/")
					img(class="logo" alt="Home" src="img/logo.png")
			div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav")
					li
						a(href="/home")
							|Home
					li( title="Preguntas frecuentes" data-toggle="tooltip" data-placement="bottom" )
						a(href="/faq")
							|FAQ
block cuerpo
	div(class="container-fluid")
		form(class="form-vertical")
			div(class="form-group")
				label(class="control-label" for="error") Error:
				input(class="form-control" type="text" id="error" value="#{msgerror}" readonly)
			a.btn(class="btn-primary" href="/home" role="button") Regresar a página de inicio
